.text-logo {
    display: flex;
    font-family: 'Manrope', sans-serif;
    flex-direction: row;
}

.nav-bar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    z-index: 10;
    contain: size style layout;
    border-bottom: solid #EAECEE
}

.nav-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.session-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.user-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logged-in-user-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-button {
    background: none;
    border: none;
}

.profile-button {
    position: static;
    background: none;
    border: none;
}

.fa-bars {
    color: grey;
    cursor: pointer;
    font-size: 30px;
}

.fa-user-circle {
    color: grey;
    cursor: pointer;
    font-size: 30px;
}

.hosting-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color .25s ease;
    height: 40px;
    width: 120px;
}

.hosting-button:hover {
    background-color: #EAECEE;
    border-radius: 20px;
}

.logged-in-hosting {
    background: none;
    border: none;
    cursor: pointer;
    transition: color .25s ease;
    height: 40px;
    width: 140px;
}

.logged-in-hosting:hover {
    background-color: #EAECEE;
    border-radius: 20px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 150px;
    height: 200px;
    right: 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    gap: 15px;
    padding: 5px;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button.airbnb-logo {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
}